* {
  margin: 0;
  padding: 0;
}
.banner-section {
  display: flex;
  justify-content: space-around;
  background-color: #f9f6e2;
}
.banner-section img {
  width: 500px;
}
.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-content h3 {
  font-size: 1.5rem;
}
.banner-content h1 {
  font-size: 3rem;
  margin: 20px 0px;
}
.code {
  font-size: 1.5rem;
}
.banner-content button {
  background-color: #e527b2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.card-section {
  display: flex;
  justify-content: space-around;
  padding: 40px 90px;
  background-color: #f8f8f8;
}
.products {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.product-elements {
  padding: 20px;
  width: 240px;
  margin: 0px 10px;
}
.fa-solid {
  color: #ffc107;
}
.product-elements img {
  border-radius: 8px;
  background: rgba(17, 17, 17, 0.05);
  width: 200px;
  height: 150px;
  padding: 30px;
}
.coupon-section {
  padding-top: 40px;
}
.coupon-content {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.flex {
  display: flex;
  margin-top: 10px;
}

.coupon-content button {
  border: none;
  background-color: #e527b2;
  color: white;
  padding: 7px 10px;
  margin-left: -5px;
  cursor: pointer;
}
.price-content {
  margin-top: 20px;
  background-color: white;
  padding: 10px;
}
.price-section button {
  background-color: #e527b2;
  padding: 10px 30px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.price-section p {
  margin-top: 10px;
}
.price-section hr {
  margin-top: 10px;
}

/* Add this css to your existing styles */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  z-index: 1000;
}

.modal-content {
  position: relative;
  text-align: center;
}
.modal-content button {
  background-color: #e527b2;
  padding: 10px 30px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
